body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #5b3765;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #ba88ae;
}

.texto {
    color: white;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #9e6899;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 8px 15px;
    background: #ba88ae;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #ba88ae;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    display: inline-block;
}

li {
    margin: 5px 0;
    font-size: 18px;
}

.par {
    color: #e215e5;
}

.impar {
    color: rgb(143, 50, 214);
}

.noentero {
    color: rgb(156, 92, 92);
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #5b3765;
}
a:hover {
    text-decoration: underline;
}
